attrs
certifi
charset-normalizer
click
dnspython
Faker
greenlet
h11
idna
numpy
outcome
pandas
playwright
psutil
pyarrow
pychrome
pyee
PySocks
python-dateutil
pytz
requests
selenium
six
sniffio
sortedcontainers
trio
trio-websocket
typing_extensions
tzdata
urllib3
websocket-client
wsproto
pyvirtualdisplay